.menu{
    display: flex;
    
}
li{     
    width: 50%;
    padding: 5px;
    transition: 0.5s;
}
li:hover{
    background-color: rgb(114, 114, 116);
}

ul{
    background-color: lavender;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid;
    padding: 0;
}

a{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .menu{
        flex-direction: column;
        align-items: center;
    }

    li{
        width: 100%;
    }
    ul:nth-child(1){
        margin-bottom:1px black solid;
    }
}