app-header{
    width:10px;
    
}

.footer{
    position: relative;
    bottom:0vh;
}
.content{
    min-height: 620px;
    /* display: flex; */
}

router-outlet{
    /* width:fit-content; */
    display: flex;
    margin: 0 auto; 
    /* width:100%; */
    margin-left: 20px;
    
    
}

app-products{
    width:fit-content;
    display: flex;
    margin: 0 auto; 
    width:100%
}